<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app"></div>
  <!-- <script src="./ansynComponent.js"></script> -->
  <script src="./builtInComponentsAndModules.js"></script>
  <!-- <script>
    function fetch() {
      return new Promise((resolve, reject) => {
        // setTimout(() => {
        resolve('err')
        // }, 2000)
      })
    }

    function load(onError) {
      const p = fetch()
      return p.catch(err => {
        return new Promise((resolve, reject) => {
          const retry = () => resolve(load(onError))
          const fail = () => reject(err)
          onError(retry, fail)
        })
      })
    }

    load((retry) => {
      retry()
    }).then(res => {
      console.log(res)
    })
  </script> -->
</body>

</html>